<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADPce1S0UcZptca70p2EIOE-eB0kNtBZw</string>
	<key>GCM_SENDER_ID</key>
	<string>161422242680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.voltanotify.com</string>
	<key>PROJECT_ID</key>
	<string>volta-push-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>volta-push-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161422242680:ios:d54ff1a5922d23a0014e8d</string>
</dict>
</plist>