ion-header {
  ion-toolbar {
    --background: #3880ff;
    --color: #ffffff;
  }
}

ion-content {
  --background: #f4f5f8;
}

ion-button {
  width: 200px;
  margin: 100px;
  font-size: 16px;
  --background: #4caf50;
  --color: #fff;
  --border-radius: 8px;
  --padding-start: 20px;
  --padding-end: 20px;

  &:hover {
    --background: #45a049;
  }
}
